@import "../../App.scss";

header{
    .tool-menu{
        background: #FFF100 0% 0% no-repeat padding-box;
        box-shadow: 0px 0.73px 2px #00000080;
        .tool-menu-body{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 9px 0px;
            .tool-menu-logo{
                .menu{
                    cursor: pointer;
                    margin-right: 32px;
                }
                .logo{
                    fill:#3c3c3b;
                }
            }
            .tool-menu-offer{
                p{
                    color:  $primary;
                    font-weight:300;
                    a{
                        font-weight: normal;
                        color:  $primary;
                    }
                }
            }
            .tool-menu-list{
                ul{
                    list-style: none;
                    display: flex;
                    align-items: center;
                    margin-bottom: 0px;
                    li div{
                        display: flex;
                        align-items: center;
                        margin-left: 32px;
                        svg{
                            margin-right: 10px;
                        }
                        p{
                            color:  $primary;
                            font-size: 14px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
    .main-menu{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0.92px 3px #00000080;
        .main-menu-body{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 14px 0px;
            .main-menu-search{
                div{
                    position: relative;
                    input{
                        background: #FFFFFF 0% 0% no-repeat padding-box;
                        border: 0.5004362463951111px solid #D8D8D8;
                        border-radius: 24px;
                        height: 48px;
                        padding-left: 48px;
                        width: 18vw;
                        &::placeholder{
                            color:  $primary;
                            font-weight: 700;
                        }
                    }
                    svg{
                        position: absolute;
                        top: 12px;
                        left: 16.5px;
                    }
                }
            }
            .main-menu-list{
                ul{
                    list-style: none;
                    display: flex;
                    align-items: center;
                    margin-bottom: 0px;
                    li div{
                        display: flex;
                        align-items: center;
                        margin-left: 32px;
                        svg{
                            margin-right: 10px;
                        }
                        p{
                            color:  $primary;
                            font-size: 14px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
    .categories{
        background: #000000 0% 0% no-repeat padding-box;
        box-shadow: 0px 0.87px 2px #00000040;
        .categories-body{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 14px 0px;
            ul{
                list-style: none;
                display: flex;
                align-items: center;
                margin-bottom: 0px;
                width: 100%;
                justify-content: space-between;
                li{
                    p{
                        color: #FFFFFF;
                        font-weight: 700;
                        font-size: 17px;
                    }
                    .offer{
                        color: #F11133;
                    }
                }
            }
        }
    }
}

